body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  position: relative;
  left: 30%;
  display: flex;
}

.routine-table {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 250px;
  height: 100%;

}

.timeline {
  width: 42px;
  align-items: center;
  text-align: center;
  position: relative;
}

.timePoint {
  height: 60px;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  color: #000000;
}

.timePoint-hour {
  font-size: 16px;
}

.timePoint-hour::before {
  content: "";
  display: block;
  height: 1px;
  border-top: 1px solid #c0c0c073;
  width: 244px;
  z-index: 10;
}

.timePoint-half-hour {
  font-size: 12px;
}

.day-tasks {
  width: 200px;
  position: relative;
}

.task {
  text-align: start;
  align-items: flex-start;
  background-color: #e2ecf5;
  border-left: 2px solid #6e9ecf;
  position: absolute;
  z-index: 2;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200;
  line-height: 16px;
  color: #000000;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: -2px;
  right: -3px;
  opacity: 0;
  cursor: pointer;
}

.task:hover .close-btn {
  opacity: 1;
}

.task-form {
  display: block;
  width: 250px;
  height: 220px;
  margin: 10px 20px 0px -50px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  flex-direction: column;
}

.task-form__title-label {
  display: block;
  padding: 10px 0px 0px 30px;
}

.task-form__input {
  width: 150px;
  margin: 10px;
}

.task-form__title {
  width: 140px;
  height: 22px;
  margin-left: 10px;
}

.task-form__input-start {
  display: block;
  align-items: center;
  margin-left: 28px;
}

.task-form__start {
  width: 74px;
  margin-left: 45px;
}

.task-form__input-end {
  display: block;
  margin-left: 28px;
}

.task-form__end {
  width: 74px;
  margin-left: 55px;
}

.add-event-btn {
  display: block;
  margin: 10px auto;
  color: #fff;
  background-color: #474747;
  border-radius: 5px;
  border-color: #474747;
  width: 150px;
  height: 35px;
  cursor: pointer;
}
